:root {
  --main-color: #537;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-color);
}
section#quote .card blockquote p {
  font-size: 1.375rem;
}
section#quote .card-body > p::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #8080805c;
  bottom: 0;
  left: 0;
  right: 0;
}
section#quote .card .image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -35px;
  left: -10px;
}
.btn-purple {
  background-color: var(--main-color);
  color: white;
}
.btn-purple:hover {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: white;
}
@media screen and (max-width: 576px) {
  section#quote .card blockquote p {
    font-size: 1rem;
  }
  section#quote .card .image {
    top: -70px;
  }
}
